* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/image\ 1.png);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.container {
  background: #fff;
  border-radius: 5px;
  width: 900px;
  max-width: 100%;
  margin: 22px auto;
  padding: 15px;
}

.board {
  background-color: #232b3d;
  color: #fff;
  padding: 35px;
  margin: 30px;
  text-align: center;
  border-radius: 5px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

.board-num {
  margin: 13px;
  display: block;
  font-weight: 900;
  font-size: 65px;
  color: #ffffff;
  opacity: 0.6;
}

#progress {
  height: 12px;
  width: 100%;
  background: #f7b354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

#progress::-webkit-progress-value {
  height: 12px;
  width: 100%;
  background: #f7b354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

#progress::-moz-progress-bar {
  height: 12px;
  width: 100%;
  background: #f7b354;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.contestants,
.board2 {
  margin-top: 29px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
}

.contestant-box {
  margin-top: 33px;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  display: flex;
}

img {
  width: 135px;
  border-radius: 50%;
}

.contestant-img {
  width: 50%;
  padding: 0.3rem;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 21px;
}

.vote-button {
  border: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem 0 0;
  font-size: 20px;
}

.vote-button > button {
  cursor: pointer;
  border: none;
  padding: 8px;
  background: none;
}

footer {
  margin: 1rem auto;
  text-align: center;
}

.buttons {
  width: 270px;
  height: 50px;
  background: #1e2a5a;
  border-radius: 10px;
  cursor: pointer;

  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 0.5rem 3rem;
  margin-top: 42px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ee1a30;
  padding-top: 12px;
}

.leader-board {
  display: none;
}

.lead-head {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 22px;
}

h2 {
  font-size: 18px;
}

.number {
  width: 42px;
  height: 42px;
  background: #1e2a5a;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  margin-left: 200px;
}

span {
  color: #000;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #18bbb6;
}

@media (max-width: 650px) {
  .contestants {
    margin: 1rem 0;
  }

  .contestant-box {
    display: block;
    margin: 1rem 0;
  }
}
